/* start autocomplete */
.autocomplete-suggestions { 
    border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; 
}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
/* end autocomplete */


/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px; }

.container-narrow > hr {
    margin: 30px 0; }

.navbar .nav {
    float: right; }

/* posts index */
.post > h3.title {
    position: relative;
    padding-top: 10px; }

.post > h3.title span.date {
    position: absolute;
    right: 0;
    font-size: 0.9em; }

.post > .more {
    margin: 10px 0;
    text-align: left; }

/* post-full*/
.post-full .date {
    margin-bottom: 20px;
    font-weight: bold; }

/* tag_box */
.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden; }

.tag_box li {
    line-height: 28px; }

.tag_box li i {
    opacity: 0.9; }

.tag_box.inline li {
    float: left; }

.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color: #555;
    border-radius: 3px;
    text-decoration: none;
    border: 1px dashed #cccccc; }

.tag_box a span {
    vertical-align: super;
    font-size: 0.8em; }

.tag_box a:hover {
    background-color: #e5e5e5; }

.tag_box a.active {
    background: #57A957;
    border: 1px solid #4c964d;
    color: #FFF; }


.brand-left {
    color: #0000FF;
}

.brand-right {
    color: #008000;
}

.topnavbar {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1.5em; 
}

.rightnav {
    float: right;
    margin-bottom: 1.5em;
}

.form {
    margin: 0;
}

.navbar-search {
    position: relative;
}

.navbar-search .search-query {
    padding-left: 29px;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.search-query-sharp {
    padding-right: 14px;
    padding-right: 4px 9;
    padding-left: 14px;
    padding-left: 4px 9;
    margin-bottom: 0;
    /*    -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;*/
}

.clickable {
    cursor: hand; 
    cursor: pointer;
}

.hiddenDiv {
    display : none;
}